#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.row {
  display: flex;
  margin-top: 5px;
  gap: 5px;
  position: relative;
}

.col {
  background-color: #070a0c;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}

.col input {
  width: inherit;
  height: inherit;
  border: 0;
  outline: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  text-align: center;
}

.regex-expr-row.satisfied,
.regex-expr-col.satisfied {
  color: #68b056;
}

.regex-expr-row {
  position: absolute;
  text-align: right;
  width: 200px;
  left: -210px;
}

.regex-expr-col {
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  position: absolute;
  text-align: left;
  height: 200px;
  top: -210px;
}
